.background{
    background-color: aqua;
  }

  .form{
    margin: auto;
    width: 500px;
    background-color:blueviolet;
    padding: 50px;
    color: white;
  }
  
  h3{
    text-align: center;
  }
   
    